
<h1>Group Details</h1>


<form class="form" method="post" action="/updateGroup/{{token}}/{{group.groupId}}/{{group.name}}/{{group.description}}">
    <p>Name: <input type="text" value="{{group.name}}" name="groupName"></p>
    <p>Description: <input type="text" value="{{group.description}}" name="groupDescription"></p>
    <input type="submit" value="Update Group">
</form>
<form class="form" method="POST" action='/site/groups/{{token}}/{{group.groupId}}/delete'>
    <input type="submit" value="Delete Group">
</form>
<form class="form" method="GET" action='/addEvent/{{token}}/{{group.groupId}}'>
    <input type="submit" value="Add Event">
</form>

<section class="sectionMain">
    {{#each group.events}}
        <section class="eventSection">
            <strong>{{this.name}}</strong>
            <p>Data: {{this.date}}</p>
            <p>Gênero: {{this.genre}}</p>
            <img src="{{this.img}}">
            {{!-- {{> eventSection event=this}} --}}
        </section>
    {{/each}}
</section>