<form method="POST" action={{action}}>
    <h3>{{title}}</h3>
    <p>{{firstParam}}: <input type={{firstInput}} name={{firstParam}}></p>
    <p>{{secondParam}}: <input type={{secondInput}} name={{secondParam}}></p>
    <input type="submit" value={{btnAction}}>
</form>