
<strong>{{event.name}}</strong>
<p>Data: {{event.date}}</p>
<p>Vendas: {{event.sales}}</p>
<p>Gênero: {{event.genre}}</p>
<p>Sub-Gênero: {{event.subGenre}}</p>
<p>Segmento: {{event.segment}}</p>
<img src="{{event.image}}" alt="">